/* Universal Style */

* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

a {
    text-decoration: underline;
    color: seashell;
}

a:hover {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    height: 69px;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

nav li {
    display: inline;
    font-size: 22px;
    padding: 10px;
}

/* Banner */
#banner {
    background: url(./Photos/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

/* Tea of the Month */

.container {
    width: 1000px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.teaofthemonth {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teaofthemonth img {
    width: 300px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
}

/* Locations */